
<div class="member-container">

  <header class="profile-image-tabs row">
    <div class="member-img col-sm-3">
      <%= image_tag @member.profile_img.url(:medium), :class => "member-image-tag"%>
    </div>
    <div class="col-sm-2">
      <div class="member-name">
        <h3><strong><%= @member.name %></strong></h3>
      </div>
    </div>
  </header>

  <section class="profile-info-tabs">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-9">
        <%= raw  @member.introduction %>
        <br />
        <br />
        Email : <%= @member.email %>
      </div>
    </div>
  </section>


  <div class="text-center">
    <%= link_to members_path do %>
      <button type="button" class="btn btn-default ">
        Back
      </button>
    <% end %>
  </div>

</div>